﻿@model Consulting.Models.WorkSession

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WorkSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            @Html.HiddenFor(m => m.ContractId)
                @*
            <div class="form-group">
                <label asp-for="ContractId" class="control-label"></label>
                <select asp-for="ContractId" class ="form-control" asp-items="ViewBag.ContractId"></select>
            </div>*@
                <div class="form-group">
                    <label asp-for="DateWorked" class="control-label"></label>
                    <input asp-for="DateWorked" class="form-control" />
                    <span asp-validation-for="DateWorked" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConsultantId" class="control-label"></label>
                    <input asp-for="ConsultantId" class="form-control" />
                    <span asp-validation-for="ConsultantId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoursWorked" class="control-label"></label>
                    <input asp-for="HoursWorked" class="form-control" />
                    <span asp-validation-for="HoursWorked" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WorkDescription" class="control-label"></label>
                    <input asp-for="WorkDescription" class="form-control" />
                    <span asp-validation-for="WorkDescription" class="text-danger"></span>
                </div>
                @*@<div class="form-group">
                <label asp-for="HourlyRate" class="control-label"></label>
                <input asp-for="HourlyRate" class="form-control" />
                <span asp-validation-for="HourlyRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvincialTax" class="control-label"></label>
                <input asp-for="ProvincialTax" class="form-control" />
                <span asp-validation-for="ProvincialTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalChargeBeforeTax" class="control-label"></label>
                <input asp-for="TotalChargeBeforeTax" class="form-control" />
                <span asp-validation-for="TotalChargeBeforeTax" class="text-danger"></span>
            </div>*@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
